
            
            .navbar
            {
              background-color: rgb(69, 203, 56);
              display: flex;
              justify-content: space-around;
              align-items: center;
              min-height: 8vh;
              font-family: 'Times New Roman', Times, serif;
             
            }
            .navbar-brand
            {
                margin-top: -45px;
                max-height: 45px;
                margin-left: 150px;
                font-size: 30px;
                position: relative;
                z-index: 10;
            }
            #navbarNav
            {
                margin-top: 25px;
                margin-left: 240px;
                font-size: 20px;
                display: flex;
                justify-content: space-around;
                
            }
            .nav-item
            {
                display: flex;
                justify-content: space-around;
                padding-right: 20px;
            }
            #color
            {
              color: white;
              font-family: Helvetica, sans-serif;

            }
            .topnav {
                overflow: visible;
                display: flex;
                width: 40%;
              }
    
              .topnav a {
                float: left;
                display: block;
                color: black;
                text-align: center;
                text-decoration: none;
                font-size: 20px;
                border-bottom: 3px solid transparent;
              }
    
              .topnav a:hover {
                border-bottom: 3px solid white;
              }
    
              .topnav a.active {
                border-bottom: 3px solid white;
              }
              #ed-ph
              {
                border-bottom-right-radius: 90px;
                border-bottom-left-radius: 90px;
              }
              #btnScrollToTOP
            {
              position: fixed;
              right: 10px;
              bottom: 10px;
              width: 50px;
              height: 50px;
              border: none;
              border-radius: 50%;
              background: green;
              box-shadow: 0 0 10px rgba(0,0,0,0.25);
              color: #ffffff;
              outline: none;
              cursor: pointer;
            }
            #btnScrollToTOP:active
            {
              background-color: rgb(163, 10, 10);
            }
            .fa {
              padding: 30px;
              font-size:25px;
              width: 30px;
              height: 50px;
              text-align:center;
              text-decoration:none;
              margin: 5px 3px;
              border-radius: 100%;
            }
            .fa:hover {
                opacity: 0.7;
            }

            .fa-facebook {
              background: #3B5998;
              color: white;

            }



            .fa-youtube {
              background: #bb0000;
              color: white;
            }
            .fa-instagram{
              background:#125688;
              color:white;
            }
           
            #color4
            {
              color: white;
              font-size: 18px;

            }
            #color5
            {
              color: white;
            }
            #font
            {
              font-size: 22px;
              font-weight: 500;

              
            }
            .topnavb {
              overflow: visible ;
              display: flex;
              justify-content: space-around;
              width: 40%;

            }

            .topnavb a {
              float: left;
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
              border-bottom: 3px solid transparent;
            }

            .topnavb a:hover {
              border-bottom: 3px solid red;
            }

            .topnavb a.active {
              border-bottom: 3px solid red;
            }
            .burger1
            {
              display: none;
            }
            .overlay {
              height: 56%;
              width:  0%;
              position: fixed;
              z-index: 1;
              top: 25px;
              right: 0px;
              overflow-x: hidden;
              transition: 0.5s;
              border-radius:25px;
              background-size: cover;
              background-position: center;
            }
            #myNav
            {
              background-color: rgb(69, 203, 56);
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            .overlay a {
              padding: 0px;
              text-decoration: none;
              font-size: 25px;
              color: white;
              display: block;
              transition: 0.3s;
              margin-right: 50px;
            }
            
            
            
            .overlay .closebtn {
              position: absolute;
              top:0px;
              right: 0px;
              font-size: 60px;
              
            }
            #buttons2
              {
                margin-top: 680px;
              }
            @media screen and (max-height: 450px) {
              .overlay a {font-size: 20px}
              .overlay .closebtn {
              font-size: 40px;
              top: 25px;
              right: 15px;
              }
              #a
              {
                width: 101px;
              }
            }
            #photo2
              {
                flex-direction: column;
                width: 170px;
                height: 240px;
              }
                        
            @media screen and (max-width: 768px)
            {
              .topnavb {
                overflow: visible ;
                display: flex;
                justify-content: space-around;
                width: 40%;
                margin-top: -25px;
                margin-left: 50px;
              }
              .topnavb a:hover {
                border-bottom: 3px solid white;
              }

              .topnavb a.active {
                border-bottom: 3px solid white;
              }
              
              

              .nav-item
              {
                float: left;
                display: block;
                color: white;
                text-align: center;
                margin-top: 5px;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 15px;
              }
              
              .burger1
              {
                display: block;
                margin-right:90px;
              }
              #myNav2
              {
                position: relative; top:30px;
                margin-top: -20px;
              }

            }
            @media (max-width: 1180px) 
            {
              #nnnn
              {
                margin-left: 4px;
              }
              #ab
              {
                margin-right: 91px;
                width: 188px;
              }
              #n
              {
                margin-left: px;
                width: 311px;
              }
              .buttt
              {
                margin-left: 31px;
              }
              #media
              {
                margin-right: 50px;
                
              }
              .brand
              {
                display: none;
              }
              #ed-ph
              {
                height: 110px;
                width: 110px;
              }
              .navbar-brand
              {
                margin-left: 10px;
                padding-top: 32px;
                
              }
              .navbar-nav
              {
                display: none;
              }
              #photo
              {
                flex-direction: column;
                width: 100%;
                height: 270px;
              }
              #photo1
              {
               display: none;
              }
              .container1 .r
              {
                display: none;
              }
              .container1 .r
              {
                display: none;
              }
              #radius1
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 100%;
                height: 300px;
              }
              #radius2
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 100%;
                height: 300px;
              }
              .col-md-8
              {
                margin-right: 170px;
                
              }
              #myvideo
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 100%;
                height: 300px;
              }
              #myvideo2
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 100%;
                height: 250px;
              }
              #scout-bag
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 235%;
                height: 300px;
              }
              
              #green-week
              {
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 100%;
                height: 250px;
              }
              #panda
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 150%;
                height: 250px;
              }
              
              #corona
              {
                flex-direction: column;
                width: 100%;
                height: 300px;
                margin-bottom:50px ;
              }
              #corona2
              {
                flex-direction: column;
                width: 150%;
                height: 280px;
                margin-bottom:50px ;
              }
              #map
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 205%;
                height: 300px;
              }
              .y
              {
                margin-right: 40px;
              }
             .yy
             {
               margin-right: -50px;
               font-size: 15px;
             }
            
              #rr
              {
                border-radius: 50px;
                margin-top: 20px;
                width: 100%;
              }
              #animation
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                padding-top: 20px;
                width: 250px;
              }
            #delegations
              {
                flex-direction: column;
                width: 100%;
                height: 360px;
                margin-top: -20px;
              }
              #delegations4
              {
                flex-direction: column;
                width: 100%;
                height: 270px;
              }
              #br
              {
                display: none;
              }
              .but
              {
                margin-right: 130px;
              }
              
              #delegations2
              {
                flex-direction: column;
                width: 100%;
                height: 350px;
              }
              .main
              {
                margin-top: 5px;
              }
              #buttons
              {
                margin-top: 400px;
              }
              #buttons2
              {
                margin-top: 380px;
              }
              #buttons3
              {
                margin-top: 520px;
              }
              #buttons4
              {
                width: 250px;
                height:50px;
              }
              #buttons5
              {
                margin-top: 540px;
              }
              
              #caption
              {
                margin-top: 880px;
                font-size: 15px;
              }
              #caption2
              {
                display: none;
              }
              #delegations3
              {
                flex-direction: column;
                width: 100%;
                height: 350px;
                margin-top: 150px;
              }
              #br2
              {
                display: none;
              }
              #about-photo
              {
                flex-direction: column;
                width: 100%;
                height: 270px;
                margin-top: 25px;
              }
              #about-photo2
              {
                flex-direction: column;
                width: 100%;
                height: 210px;
                border-radius: 25px;
              }
              #br3
              {
                display: none;
              }
              .family
              {
                margin-left: -30px;
                width: 117%
              }
              #photo2
              {
                flex-direction: column;
                width: 170px;
                height: 240px;
              }
              #photo3
              {
                flex-direction: column;
                width: 100%;
                height: 270px;
                margin-top: 20px;
              }
              #photo4
              {
                flex-direction: column;
                width: 100%;
                height: 230px;
              }
              #size
              {
                font-size: 35px;
                margin-left: 64px;
              }
              #about-photo3
              {
                height: 88px;
              }
              #size1
              {
                font-size: 40px;
              }
              #activities
              {
                margin-left: 5px;
              }
              
            }